<h2>Incluir Novo Jogo</h2>

<form>
  <label>
    Título:
    <input type="text" name="titulo" />
  </label>

  <label>
    Gênero:
    <input type="text" name="genero" />
  </label>

  <label>
    Plataforma:
    <input type="text" name="plataforma" />
  </label>

  <label>
    Desenvolvedora:
    <input type="text" name="desenvolvedora" />
  </label>

  <label>
    Data de Lançamento:
    <input type="date" name="dataLancamento" />
  </label>

  <label>
    Multiplayer:
    <input type="checkbox" name="multiplayer" />
  </label>

  <label>
    Classificação Etária:
    <input type="text" name="classificacaoEtaria" />
  </label>

  <button type="submit">Salvar</button>
</form>

<button routerLink="/">Voltar</button>
