<h2>Editar Jogo</h2>

<form *ngIf="jogo" (ngSubmit)="salvar()">
  <label>
    Título:
    <input type="text" [(ngModel)]="jogo.titulo" name="titulo" required />
  </label>

  <label>
    Gênero:
    <input type="text" [(ngModel)]="jogo.genero" name="genero" required />
  </label>

  <label>
    Plataforma:
    <input type="text" [(ngModel)]="jogo.plataforma" name="plataforma" required />
  </label>

  <label>
    Desenvolvedora:
    <input type="text" [(ngModel)]="jogo.desenvolvedora" name="desenvolvedora" required />
  </label>

  <label>
    Data de Lançamento:
    <input type="date" [(ngModel)]="jogo.dataLancamento" name="dataLancamento" required />
  </label>

  <label>
    Multiplayer:
    <input type="checkbox" [(ngModel)]="jogo.multiplayer" name="multiplayer" />
  </label>

  <label>
    Classificação Etária:
    <input type="text" [(ngModel)]="jogo.classificacaoEtaria" name="classificacaoEtaria" required />
  </label>

  <button type="submit">Salvar Alterações</button>
</form>

<button routerLink="/">Voltar</button>
