<h2>Lista de Jogos</h2>

<table>
  <thead>
  <tr>
    <th>Título</th>
    <th>Gênero</th>
    <th>Plataforma</th>
    <th>Desenvolvedora</th>
    <th>Data de Lançamento</th>
    <th>Multiplayer</th>
    <th>Classificação Etária</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>The Last of Us</td>
    <td>Ação</td>
    <td>PlayStation</td>
    <td>Naughty Dog</td>
    <td>2013-06-14</td>
    <td>Sim</td>
    <td>18+</td>
  </tr>
  <tr>
    <td>Stardew Valley</td>
    <td>Simulação</td>
    <td>PC</td>
    <td>ConcernedApe</td>
    <td>2016-02-26</td>
    <td>Sim</td>
    <td>Livre</td>
  </tr>
  </tbody>
</table>

<br />

<button routerLink="/incluir-jogo">Incluir Novo Jogo</button>
