<h2>Lista de Jogos</h2>

<table>
  <thead>
  <tr>
    <th>Título</th>
    <th>Gênero</th>
    <th>Plataforma</th>
    <th>Desenvolvedora</th>
    <th>Data de Lançamento</th>
    <th>Multiplayer</th>
    <th>Classificação Etária</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let jogo of jogos">
    <td>{{ jogo.titulo }}</td>
    <td>{{ jogo.genero }}</td>
    <td>{{ jogo.plataforma }}</td>
    <td>{{ jogo.desenvolvedora }}</td>
    <td>{{ jogo.dataLancamento }}</td>
    <td>{{ jogo.multiplayer ? 'Sim' : 'Não' }}</td>
    <td>{{ jogo.classificacaoEtaria }}</td>
    <td>
      <button [routerLink]="['/editar-jogo', jogo.id]">Editar</button>
    </td>
  </tr>
  </tbody>
</table>

<button routerLink="/incluir-jogo">Incluir Novo Jogo</button>
